<tr class="fts-bom-list" id="fts-bom-buildtools">
      <td colspan="5">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th><abbr title="Stock keeping unit">SKU</abbr></th>
          <th>#</th>
          <th class="fts-price">Total</th>
        </tr>
      </thead>
      <tbody>
      <tr data-purpose="tool for crimping JST terminals and isolated cable connectors" data-sku="WM9999-ND" data-amount="1"><td class="fts-bom-item-item"><span class="manufacturer">Molex</span> <abbr title="Connector Accessories Hand Crimp Tool">0638111000</abbr></td><td class="fts-bom-item-sku">WM9999-ND</td><td class="fts-bom-item-amount-single">1</td><td class="fts-bom-item-price" data-total="55.08">55.08 USD</td></tr>
      <tr data-purpose="tool for putting cables into the 2-pin connectors/headers" data-sku="A9982-ND" data-amount="1"><td class="fts-bom-item-item"><span class="manufacturer">TE Connectivity</span> <abbr title="Crimping, Stripping, Cutting Tools &amp; Drills 100 T HANDL MAINT TL">59803-1</abbr></td><td class="fts-bom-item-sku">A9982-ND</td><td class="fts-bom-item-amount-single">1</td><td class="fts-bom-item-price" data-total="30.16">30.16 USD</td></tr></tbody>
      </table>
      </td>
    </tr>
